RecSys1/
# Ignore virtual environment
venv/
.env/
report.tex

# Ignore datasets
data/processed
dataset/
datasets/
RecSys/checkpoints/best_model/data/
bandit/outputs/behavior_model/data/


# OR if you want specific ones only:
rt_seq*.pkl
scored_rt_seq*.pkl

# Ignore python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
